.App{
    max-width:fit-content;
    max-height: fit-content;
    padding-top: 90px;
   
}

.icons{
    color:grey;
    padding-left: 1060px;
}
.eye{
    padding: 30px;
}
.bulb{
    padding: 30px;
}
.chat{
    padding: 30px;
}
.dots{
    padding: 30px;
}
.close{
    position: relative;
    bottom: 30px;
    color: grey;
}
.firstcomp{
   
    height: 400px;
    width: 1800px;
    position: relative;
    border-width: 1px;
    border-color: grey;
    left: 35px;
    bottom: 90px;
    box-shadow:1px 1px 1px 1px rgb(192, 187, 187);
    border-radius: 5px;
}
.scissor{
    color:grey;
    position: relative;
    padding-top: 5px;
    left: 10px;   
}
.select{
    padding-left: 30px;
    font-family: sans-serif;
    color: grey;
    font-weight: bold;
    font-size: small;
}
.graph{
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 90px;
    background-color: black;
    
}
.channelborder{
    height: 40px;
    position: relative;
    width:1693px;
    border-color: rgb(131, 119, 119);
    border-style: ridge;
    border-width: 1px;
    background-color: white;
    left: 145px;
    margin-bottom: 20px;
    bottom: 85px;
    border-radius: 5px;
    
}
.selectchannel{
    font-family: sans-serif;
    color: grey;
    font-size: small;
    position: relative;
    left: 25px;
    bottom: 40px;
    font-weight: bold;

}
.first{
    width:90px;
    position: relative;
    top:5px;
    height: 30px;
    left: 10px;
    border-radius: 15px;
    background-color: rgb(235, 195, 65);
    color: white;
    border:none;
    text-align: center;
    
}
.first:hover {background-color: rgb(235, 195, 65);}
.first:active {
    background-color: rgb(235, 195, 65);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.speedicon{
    position: relative;
    right:25px;
    top:4px;
    border-radius: 80px;
    background: white;
    color: grey;
}
.speedtext{
    position: relative;
    bottom:18px;
    padding-left: 30px;
    font-size: small;
    font-weight: bold;
   
}
.channelA{
    width: 110px;
    height: 30px;
    border-radius:15px;
    margin-left: 20px;
    position: relative;
    top: 5px;
    border: none;
    background-color: rgb(165, 7, 33);
    color:white;
    
}
.channelA:hover {background-color: rgb(199, 104, 120);}
.channelA:active {
    background-color:rgb(199, 104, 120);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.resticon{
    position: relative;
    right:35px;
    top:4px;
    border-radius: 200%;
    background: white;
    border:none;
    color: grey;

}
.channelB{
    width: 110px;
    height: 30px;
    border-radius:15px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    border: none;
    background-color: rgb(148, 72, 148);
    color: white;
}
.channelB:hover {background-color:rgb(148, 72, 148);}
.channelB:active {
    background-color: rgb(148, 72, 148);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.channelC{
    width: 110px;
    height: 30px;
    border-radius:15px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    border: none;
    background-color:rgb(7, 10, 196);
    color: white;
}
.channelC:hover {background-color:rgb(7, 10, 196);}
.channelC:active {
    background-color:rgb(7, 10, 196);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.pluschannel{
    position: relative;
    margin-left: 10px;
    left: 10px;
    background-color: rgb(219, 212, 212);
    border: none;
    height:30px;
    top:7px;
    border-radius: 5px;
    box-shadow:1px 1px 1px 1px rgb(192, 187, 187);
}
.dropdown{
    width: 110px;
    height: 30px;
    border-radius:15px;
    margin-left: 10px;
    position: relative;
    top: 5px;
    border: none;
    background-color:rgb(80, 134, 80);
    color: white;
}
.dropdown-list{
    position:absolute;
    top: 20;
    left: 0;
    padding: 10px;
    background: rgb(250, 249, 249);
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: rgb(77, 13, 13);
    width: 100;
    display: absolute;
}


.dropdown .dropdown-content {
 position:absolute;
 top: 110%;
 left: 0;
 padding: 10px;
 background: #fff;
 box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
 font-weight: 500;
 color: #333;
 width: 95%;
}

.label{
    color:rgb(80, 134, 80);
    font-size : 12px;
    text-anchor: middle;

}

.plusicon{
    color: white;
    position: relative;
    top:2px
}

.firstbox{
    width: 1793px;
    height:55px;
    border-color:black;
    box-shadow:1px 1px 1px 1px rgb(192, 187, 187);
    position: relative;
    bottom: 60px;
    left:44px;    
}
.inputid{
    height: 25px;
    width:75px;
    border: 1px solid grey;
    border-radius: 5px;
    position: relative;
    left:50px;
    bottom: 15px;
}
.id{
    position: relative;
    top:20px;
    padding-left: 20px;
    font-family: sans-serif;
    color: rgb(158, 147, 147);
    font-weight: bold;
    width: 40px;
}
.idnum{
    position: relative;
    bottom: 15px;
    left: 55px;
    color: gray;
}
.startbox{
    height: 25px;
    width:75px;
    border: 1px solid grey;
    border-radius: 5px;
    position: relative;
    left:750px;
    bottom: 97px;
    
}
.start{
    position: relative;
    left:650px;
    width: 60px;
    font-weight: bold;
    color: gray;
    bottom: 55px;
    font-family: sans-serif;
}
.startTime{
    position: relative;
    left:35px;
    bottom: 10px;
    color: gray;
}
.end{
    position: relative;
    left:950px;
    width: 60px;
    font-weight: bold;
    color: gray;
    bottom: 135px;
    font-family: sans-serif;
}
.endbox{
    height: 25px;
    width:75px;
    border: 1px solid grey;
    border-radius: 5px;
    position: relative;
    left:1000px;
    bottom: 175px;

}
.endTime{
    position: relative;
    left:35px;
    bottom: 10px;
    color: gray;
}
.minstart{
    position: relative;
    left:1195px;
    width: 100px;
    font-weight: bold;
    color: gray;
    bottom: 215px;
    font-family: sans-serif;
}
.minstartbox{
    height: 25px;
    width:75px;
    border: 1px solid grey;
    border-radius: 5px;
    position: relative;
    left:1300px;
    bottom: 255px;
}
.minstartTime{
    position: relative;
    left:35px;
    bottom: 10px;
    color: gray;

}
.minend{
    position: relative;
    left:1495px;
    width: 100px;
    font-weight: bold;
    color: gray;
    bottom: 293px;
    font-family: sans-serif;
}
.minendbox{
    height: 25px;
    width:75px;
    border: 1px solid grey;
    border-radius: 5px;
    position: relative;
    left:1600px;
    bottom: 335px;
}
.minendTime{
    position: relative;
    left:35px;
    bottom: 10px;
    color: gray;
}
.closetime{
    position: relative;
    left:1670px;
    bottom: 331px;
    color: gray;
    
}
.addbox{
    
    width: 1800px;
    height:55px;
    border-color:rgb(255, 254, 254);
    box-shadow:1px 1px 1px 1px rgb(192, 187, 187);
    position: relative;
    bottom: 40px;
    left:38px;
    
}
.goplus{
    position: relative;
    left:75px;
    top:3px;
    color: gray;
}
.selectedchannel1{
    height: 195px;
    width: 120px;
    border: black;
    border-radius: 5px;
    background-color: rgb(140, 226, 215);
    position: relative;
    left: 89px;
    bottom: 225px;
    opacity: 50%;
    border-left: solid black 5px;
    border-right: solid black 5px;
}
.unselectedchannel1{
    height: 195px;
    width: 100px;
    background-color: grey;
    position: relative;
    left: 330px;
    bottom: 420px;
    opacity: 30%;
    border-left: solid rgb(80, 77, 77)  15px;
    border-right: solid rgb(80, 77, 77) 15px;
}
.unselectedchannel2{
    height: 195px;
    width: 100px;
    background-color: grey;
    position: relative;
    left: 495px;
    bottom: 615px;
    opacity: 30%;
    border-left: solid rgb(80, 77, 77)  15px;
    border-right: solid rgb(80, 77, 77) 15px;
}
.unselectedchannel3{
    height: 195px;
    width: 100px;
    background-color: grey;
    position: relative;
    left: 670px;
    bottom: 810px;
    opacity: 30%;
    border-left: solid rgb(80, 77, 77)  15px;
    border-right: solid rgb(80, 77, 77) 15px;
}
.unselectedchannel4{
    height: 195px;
    width: 100px;
    background-color: grey;
    position: relative;
    left: 877px;
    bottom: 1005px;
    opacity: 30%;
    border-left: solid rgb(80, 77, 77)  15px;
    border-right: solid rgb(80, 77, 77) 15px;  
}
.unselectedchannel5{
    height: 195px;
    width: 100px;
    background-color: grey;
    position: relative;
    left: 1055px;
    bottom: 1200px;
    opacity: 30%;
    border-left: solid rgb(80, 77, 77)  15px;
    border-right: solid rgb(80, 77, 77) 15px; 
}

